// Base
@import "base/variables";
@import "base/mixins";

body {
  margin: 0;
  font-size: $base-font;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.cs-profile-image {
  display: block;
  border-radius: 50%;
  margin: auto auto;
}

.cs-img-container {
  position: relative;
  z-index: 145;
  padding-top: 1rem;
  pointer-events: none;

  img {
    width: 18rem;
    height: 18rem;
  }
}
/* ---- particles.js container ---- */
.cs-particles {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($blue, .8);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// NavBar
nav {
  background: rgba($blue, .6);

  #brand-logo {
    font-size: 4rem;
  }

	& ul {
  	& a:hover {
			background-color: rgba(0,0,0,.4);
		}

		& li:hover {
			border-bottom: 1px solid;
		}
	}
}

@media #{$medium-and-up} {
  nav {
    padding: 0 3rem;
  }
}




// COMPILE SASS AUTO: sass --watch sass:css --style compressed
